<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
        <li><%= link_to "Home", root_path  %></li>
        <li><%= link_to "Servicios", pages_services_path  %></li>
        <li><%= link_to "Nosotros", pages_about_me_path  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
